*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
body{
    background-image: url(/imgs/Fundo.jpg);
    background-position: top center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #121214;
}
body *{
    font-family: 'Inter',sans-serif;
    line-height: 160%;
}
header{
    padding-top: 32px;
    height: calc(120px + 32px);

}
header div {
    width: 120px;
    margin: auto;
    background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);

    border-radius: 50%;

    display: flex;
    padding: 4px;

    transition: transform .5s;
    animation:fromtop .5s .3s backwards;

}

header div:hover {
    transform: scale(1.1)
}

header div img {
    width: 100%;
    border-radius: 50%;
}

main{
    max-width: 580px;
    width: 90%;
    margin: 32px auto;
    display: grid;
    gap: 24px;
}

main section{
    animation:frombottom .5s .2s backwards;
}
main section:nth-child(1){
 animation-delay: 0;
}
main section:nth-child(2){
    animation-delay: .4s;
   }
main section:nth-child(3){
    animation-delay: .6s;
}

section{
    color: white;
    background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
    padding-top: 4px;
    border-radius: 8px;
    
}
section div{ 
    background-color: #2A2634;
    padding: 32px;
    padding-top: 24px;
    border-radius: 8px;

}
section h2{
    font-weight: 900;
    font-size: 24px;
    letter-spacing: -0.47px;
}
section p{
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -0.18px;
    color: #A1A1AA;
    padding-bottom: 10px;
}
section ul {
    display:flex;
    gap: 16px;
    flex-wrap: wrap
}
section ul li{
    transition: transform .5s;
}
section ul li:hover{
    transform: scale(1.1)
}
.games-list img{
    border-radius: 8px;
    width: 90px;
}

.channel-list img{
    width: 70px;
    border-radius: 50%;
    border: 2px solid #443E54;
}
@keyframes fromtop{
    from{
        transform: translateY(-50px);
        opacity: 0%;
    }

    to{
        transform: translateY(0);
        opacity: 100%;
    }
}
@keyframes frombottom{

    from{
        transform: translateY(50px);
        opacity: 0%;
    }

    to{
        transform: translateY(0);
        opacity: 100%;
    }
}